body {
  margin: 100px;
  font-family: Arial, sans-serif;
  padding-top: 56px;

}

main {
  background-color: #ffffff;
}

footer {
  margin-left: -14px;
  margin-right: -14px;
}

#footer-text {
  text-align: center;
  color: #ffffff;
}

.navbar {
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 300px;
}


.side-border-left {
  border-right: 2px solid #ccc;
  height: 100%;
}

.side-border-right {
  border-left: 2px solid #ccc;
  height: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  margin: 0;
}

#game-description {
  text-align: center;
}

#about-game {
  margin-top: 30px;
  text-align: justify;
}

#pictures { 
  margin-top: 100px;
  text-align: center;
}

#download {
  margin-top: 200px;
  text-align: center;
}

#leaderboard {
  margin-top: 100px;
  text-align: center;
}

.main-content {
  padding: 0 15px;
}
